<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <img src="image/logo vest.png" alt="" style="height: 78px;">
            <input type="text" name="search" placeholder=" Search..." style="margin-left: 300px;">

            <a style="float: right; margin-left: 40px; margin-top:25px; margin-right:10px">Cart</a>
            <a style="float: right; margin-left: 40px; margin-top:25px">Sign in</a>
            <a style="float: right; margin-top:25px; ">Sign up</a>





        </div>
        <div class="clear"></div>
        <div class="banner">
            <div>
                <!-- <img src="image/Men-Suit-banner.jpg" alt=""> -->
            </div>
        </div>
        <div class="clear"></div>
        <div class="menu">
            <ul class="list_menu">
                <li><a href="index.php">Home</a></li>
                <li><a href="index.php">Products</a> </li>
                <li><a href="index.php">Sales</a> </li>
                <li><a href="index.php">Contacts</a> </li>
                <li><a href="index.php">About us</a> </li>
            </ul>

            <!-- <ul>
            <li style="float: right;"><a href="index.php">Sign in</a> </li>
                <li style="float: right;"><a href="index.php">Sign up</a> </li>
                <li style="float: right;"><a href="index.php">Cart</a> </li>
            </ul> -->

        </div>
        <div class="clear"></div>
        <div id="main">
            <div class="sidebar">
                <ul class="list_sidebar">
                    <li><a href="index.php">Vests</a> </li>
                    <li><a href="index.php">Pants</a> </li>
                    <li><a href="index.php">Belts</a> </li>
                    <li><a href="index.php">Shoes</a> </li>
                    <li><a href="index.php">Shirts</a> </li>
                    <li><a href="index.php">Ties</a> </li>

                </ul>
            </div>
            <div class="maincontent">
                <div class="card-list">
                    <div class="card margin">
                        
                        <div class="card__thumbnail image">
                            <img src="image/1.jpeg" alt="">
                        </div>
                        

                        <div class="card__info">
                            <span class="name">Vest</span>
                            <span class="email">7,349,000₫</span>
                        </div>
                        

                        <div class="card__btn">
                            <a href="detail1.html" class="btn btn__view" style="text-decoration: none;">
                                <span class="btn__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                <span class="btn__name">Add cart</span>
                            </a>
                        </div>
                        
                    </div>
                    <div style="float: right;">
                        Men's vest uniforms not only help you keep your body warm, but it is also a fashion item
                        that helps you show the elegance, elegance, masculinity, as well as the professionalism of
                        your agency or business. Coming to Luxury, you can completely rest assured when choosing for
                        yourself the most perfect men's vest models.

                        - Men's vest uniforms use dark gray with plaid, a color that is extremely popular on men's
                        vest because of its applicability. So it is not surprising that the dark gray plaid business
                        vest uniform is considered a wise choice in expressing the class and masculine qualities of
                        the gentlemen who want to radiate. politeness.

                        - The vest is inspired by the navy outfit with two buttons, a style that represents classic
                        and traditional beauty, this has created a strong style of gentlemen, elegance and charm.
                        charming but still full of pride.

                        - V-collar, small lapel, this is a detail that helps you express your style and is a factor
                        to recognize a perfect suit. The company logo embroidered on the chest creates a highlight
                        and "flashiness" for you, it is a place for you to freely create, so please pay attention to
                        make use of it.

                        The sleeves are sewn with perfect proportions when the sleeve length reaches the wrist bone.
                        With buttons where the cuffs are pressed firmly and neatly. There are 2 stylish pockets on
                        the sides that highlight the elegance of the wearer.

                        - The back of the business men's vest is sewn very meticulously and carefully, with a cut in
                        the middle to help the wearer comfortably walk and turn around, both modern and traditional.
                        Especially, this shirt from the back is very beautiful and luxurious.
                    </div>

                </div>

                <div class="clear"></div>
                <div class="footer">
                    <div class="copyright">
                        Copyright by Duc anh
                    </div>
                </div>
            </div>

</body>

</html>