<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sales</title>
</head>

<body>
    {% include "horizontal_toolbar.html" %}
    <div id="main">
        {% include "vertical_toolbar.html" %}
        <div class="maincontent">
            <div>
                <h1 class="text">Nike & Jordan shoe world!</h1>
                <div class="card-list">
                    {% for i in all %}
                    <div class="card margin">
                        <div class="card__thumbnail image">
                            <img src="/media/{{i.Image}}" alt="">
                        </div>
                        <div class="card__info">
                            <span class="name">{{i.Name}}</span>
                            <span class="email" style="color:#e70d3c;">{{i.Price}} $</span>
                        </div>
                        <div class="card__btn">
                            <a href="/View/{{i.id}}" class="btn btn__view">
                                <span class="btn__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                <span class="btn__name">View</span>
                            </a>
                            <img style="float: right;width: 35px; height: 35px; cursor: pointer;" src="{% static 'image/cart.png' %}" alt="" onclick="cart('{{i.id}}')">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% comment %}
                <div class="card-list">
                    {% for i in sale %}
                    <div class="card-list">
                        <div class="card margin">
                            <div class="card__thumbnail image">
                                <img src="/media/{{i.Image}}" alt="">
                            </div>
                            <div class="card__info">
                                <span class="name">{{i.Name}}</span>
                                <span class="price">{{i.Price}} $</span>
                            </div>
                            <div class="card__btn">
                                <a href="/detail.html" class="btn btn__view" style="text-decoration: none;">
                                    <span class="btn__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    <span class="btn__name">View</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> {% endcomment %}
        </div>
    </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="copyright">
            Copyright by Duc anh
        </div>
    </div>
    </div>

</body>

</html>