<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/cart.css">
    <link rel="stylesheet" href="static/css/style.css">>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>
    {% include "horizontal_toolbar.html" %}
    <div id="main">
        {% include "vertical_toolbar.html" %}
        <div class="maincontent">
            <div>
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"> </th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Available</th>
                                            <th scope="col" class="text-center">Quantity</th>
                                            <th scope="col" class="text-right">Price</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for i in viewCart %}
                                            <td><img src="media/{{i.1}}" style="width: 20%; height: auto;" /> </td>
                                            <td>{{i.0}}</td>
                                            <td>In stock</td>
                                            <td><input class="form-control Quanlity" type="text" value="{{i.3}}" onkeyup="Total()"/></td>
                                            <td class="text-right price">{{i.2}} €</td>
                                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                            {%endfor%}
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Sub-Total</td>
                                            <td class="text-right" id="subTotal"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Shipping</td>
                                            <td class="text-right">6,90 €</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>Total</strong></td>
                                            <td class="text-right" id="Total"><strong>346,90 €</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="row">
                                <div class="col-sm-12  col-md-6">
                                    <button class="btn btn-block btn-light">Continue Shopping</button>
                                </div>
                                <div class="col-sm-12 col-md-6 text-right">
                                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
            <div class="footer">
                <div class="copyright">
                    Copyright by Duc anh
                </div>
            </div>
        </div>

</body>
<script>
    subTotal();
    function subTotal()
    {
        price = document.getElementsByClassName("price")
        Quanlity = document.getElementsByClassName("Quanlity")
        var totalPrice = 0;
        for (var i = 0; i < price.length; i++) {
            totalPrice = totalPrice + parseInt(price[i].innerHTML)*parseInt(Quanlity[i].value);
        }
        document.getElementById('subTotal').innerHTML = totalPrice + " "+"€"
        document.getElementById('Total').innerHTML = totalPrice +  6.9 +" "+"€"
    }  
    function Total()
    {
        subTotal();
    }
</script>
</html>