<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
        
            <img src="image/logo vest.png" alt="" style="height: 78px;">
                <input type="text" name="search" placeholder=" Search..." style="margin-left: 300px;">
            
                <a style="float: right; margin-left: 40px; margin-top:25px; margin-right:10px">Cart</a>
                <a style="float: right; margin-left: 40px; margin-top:25px">Sign in</a>
                <a style="float: right; margin-top:25px; ">Sign up</a>
                



        
        </div>
        <div class="clear"></div>
        <div class="banner">
            <div>
            <!-- <img src="image/Men-Suit-banner.jpg" alt=""> -->
            </div>
        </div>
        <div class="clear"></div>
        <div class="menu">
            <ul class="list_menu">
            <li><a href="index.php">Home</a></li>
                <li><a href="index.php">Products</a> </li>
                <li><a href="index.php">Sales</a> </li>
                <li><a href="index.php">Contacts</a> </li>
                <li><a href="index.php">About us</a> </li>
            </ul>

            <!-- <ul>
            <li style="float: right;"><a href="index.php">Sign in</a> </li>
                <li style="float: right;"><a href="index.php">Sign up</a> </li>
                <li style="float: right;"><a href="index.php">Cart</a> </li>
            </ul> -->
            
        </div>
        <div class="clear"></div>
        <div id="main">
            <div class="sidebar">
            <ul class="list_sidebar">
                <li><a href="index.php">Vests</a> </li>
                <li><a href="index.php">Pants</a> </li>
                <li><a href="index.php">Belts</a> </li>
                <li><a href="index.php">Shoes</a> </li>
                <li><a href="index.php">Shirts</a> </li>
                <li><a href="index.php">Ties</a> </li>

 </ul>
            </div>
            <div class="maincontent">
            <div>
        <strong class="text">Nike & Jordan shoe world!!</strong>
        <div class="card-list">
            <div class="card margin">
                <div class="card__thumbnail image">
                    <img src="image/1.jpeg"
                        alt="">
                </div>

                <div class="card__info">
                    <span class="name">Vest</span>
                    <span class="email">7,349,000₫</span>
                </div>

                <div class="card__btn">
                    <a href="detail1.html" class="btn btn__view" style="text-decoration: none;">
                        <span class="btn__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="btn__name">View</span>
                    </a>
                </div>

            </div>
            <div class="card margin">
                <div class="card__thumbnail image">
                    <img src="image/2.jpeg"
                        alt="">
                </div>

                <div class="card__info">
                    <span class="name">Air Jordan OG</span>
                    <span class="email">7,000,000₫</span>
                </div>

                <div class="card__btn">
                    <a href="detail2.html" class="btn btn__view" style="text-decoration: none;">
                        <span class="btn__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="btn__name">View</span>
                    </a>
                </div>

            </div>
            <div class="card margin">
                <div class="card__thumbnail image">
                    <img src="image/3.jpeg"
                        alt="">
                </div>

                <div class="card__info">
                    <span class="name">Air Jordan 7 Retro </span>
                    <span class="email">5,000,000₫</span>
                </div>

                <div class="card__btn">
                    <a href="detail3.html" class="btn btn__view" style="text-decoration: none;">
                        <span class="btn__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="btn__name">View</span>
                    </a>
                </div>

            </div>
        </div>
        

    </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer">
            <div class="copyright">
                Copyright by Duc anh
            </div>
        </div>
    </div>
    
</body>
</html>